{% extends "layout.html" %} {% block content %}
<h1 style="color:beige">Find Local Restaurants!</h1>
<style>
    body {
      background-image: url('https://cdn.pixabay.com/photo/2017/06/06/22/37/italian-cuisine-2378729_1280.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.restaurant }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        <p class="article-content"><img src={{post.image}} style="width:300px;height:200px;" /> </p>
    </div>
</article>
{% endfor %} {% endblock content %}