{% extends "layout.html" %} {% block content %}
<head>
    {{sndmap.js}}
</head>
<body>

<div class="content-section">
    <h2> Map of Participating Locations</h3>
        <div style = "align-content: center;">{{sndmap.html}}</div>
</div>
<article class="media content-section">
    <div class="media-body">
        <h2 class="article-title">Tacoria</h2>
        <p class="article-content">Stuff about Tacoria</p>
    </div>
</article>
<article class="media content-section">
    <div class="media-body">
        <h2 class="article-title">Mamoun's Falafel</h2>
        <p class="article-content">Stuff about Mamoun's Falafel</p>
    </div>
</article>
</body>
{% endblock content %}