{% extends "layout.html" %} {% block content %}
<h1 class="mb-3">Campaigns by {{ user.username}} ({{ campaigns.total }})</h1>
<h1 style="color:rgb(0, 0, 0)">Find Local Restaurants!</h1>
<style>
    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
{% for campaign in campaigns.items %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_campaigns', username = campaign.owner.username) }}">{{ campaign.owner.username }}</a>
            <small class="text-muted">{{ campaign.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('campaigns.campaign', campaign_id=campaign.id)}}">{{ campaign.title }}</a></h2>
        <p class="article-content">{{ campaign.content }}</p>
    </div>
</article>
{% endfor %} {% for page_num in campaigns.iter_pages(left_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if campaigns.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('users.user_campaigns', username=user.username, page=page_num)}}">{{ page_num }}</a> {% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_campaigns', username=user.username, page=page_num)}}">{{ page_num }}</a> {% endif %} {% else %} ... {% endif %} {% endfor%} {% endblock content %}